  <footer class="row">
    <div class="large-12 large-centered columns center">
      &middot;
      <a href="/fa.asc">gpg key</a> &middot;
      <a href="https://github.com/winks" rel="me">github</a> &middot;
      <a href="https://twitter.com/anderiasch" rel="me">twitter</a> &middot;
      <a href="https://mastodon.social/@wink" rel="me">fediverse</a> &middot;
      <span class="show-for-small"><br /></span>
      <span class="hide-for-small">&middot;</span>
      <a href="http://codeschmie.de" rel="me">old blog</a> &middot;
      <a href="https://facebook.com/florian.anderiasch" rel="me">fb</a> &middot;
      <a href="https://xing.to/fa" rel="me">xing</a> &middot;
      <a href="https://www.imdb.com/title/tt0061287/quotes">~</a> &middot;
      <a href="#top"> &uarr; </a> &middot;
    </div>
  </footer>

      </div>
    </div>

</body>
</html>
