<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>{{ .Site.Title }} : {{ .Title }}</title>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/media/css/foundation.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/media/css/new.css" type="text/css" media="screen" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ .Site.BaseURL }}/media/img/apple-touch-icon-144-precomposed.png">
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}">
  <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ if gt $index 0 }},{{ end }}{{ . }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}">
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
  <link rel="micropub" href="http://i.f5n.de/micropub/index.php" />
  <link rel="webmention" href="https://webmention.io/f5n.org/webmention" />
  <link rel="pingback" href="https://webmention.io/f5n.org/xmlrpc" />
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
{{ with .OutputFormats.Get "atom" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
</head>
<body{{ with .Site.Params.theme }} class="{{ . }}"{{ end }}>

  <div class="headerarea top">
    <h1><a href="{{ .Site.BaseURL }}/">{{ .Title }}</a></h1>
  </div>
  <div class="row">
    <div class="small-17 small-centered columns xall">
<!-- NAVI -->
  <div class="row">
    <div class="large-13 large-centered columns">

  <div class="row">
  <div class="gah">

    <div class="large-7 columns">
       <ul class="breadcrumbs">
         <li class="first-elem"><a id="top2" href="/">Home</a></li>
         <li><a href="/2019">Notes</a></li>
         <li><a href="/blog">Blog</a></li>
         <li><a href="/stack">Stack</a></li>
         <li><a href="/code">Code</a></li>
         <li><a href="/about">About</a></li>
        </ul>
    </div>
    <div class="large-4 columns hide-for-small">
      <ul class="breadcrumbs">
        <li class="first-elem"><span>\o/</span></li>
      </ul>
    </div>
    <div class="large-5 columns">
      <ul class="breadcrumbs brd right">
        <li class="first-elem"><a href="/">f5n</a></li>{{ if ne .Title .Site.Title }}
{{ if eq .Section "" }}
  {{ if eq .Title "Blogs" }}
        <li><a href="/blog">blog</a></li>
  {{ else }}
    {{ if eq .Title "Stacks" }}
        <li><a href="/stack">stack</a></li>
    {{ else }}
        <li><a href="/{{ lower .Title }}">{{ lower .Title }}</a></li>
    {{ end }}
  {{ end }}
{{ else }}
         <li><a href="/{{ .Section }}">{{ .Section }}</a></li>
{{ end }}{{ end }}      </ul>
    </div>

  </div>
  </div>
<!-- /NAVI -->
    </div>
  </div>
