{{ partial "header.html" . }}
<!-- MAIN -->
  <section class="main">
    <div class="row">
      <div class="large-13 large-centered columns" role="main">
        <article>

<div class="content-header"><h2>Archive: The Stack</h2></div>
<div class="stackdef">
  <em>The Stack</em> is a (mostly) weekly digest of hopefully interesting links.
</div>
<p>
  <a href="/blog/2011/pushing-to-the-stack/">Read over here how it began</a>
</p>
{{ partial "archive.html" . }}

        </article>
      </div>
    </div>
  </section>
<!-- /MAIN -->
{{ partial "footer.html" . }}
