{{ template "theme/partials/header.html" . }}
<!-- MAIN -->
  <section class="main">
    <div class="row">
      <div class="large-13 large-centered columns" role="main">
        <article>

<div class="content-header"><h2>Archives: The Stack</h2></div>
<div class="stackdef">
  <em>The Stack</em> is a weekly digest of hopefully interesting links.
</div>
<p>
  <a href="/blog/2011/pushing-to-the-stack/">Read over here how it began</a>
</p>
{{ template "theme/partials/archive.html" . }}

        </article>
      </div>
    </div>
  </section>
<!-- /MAIN -->
{{ template "theme/partials/footer.html" . }}
