{{ partial "header.html" . }}
<!-- MAIN -->
  <section class="main">
    <div class="row">
      <div class="large-13 large-centered columns" role="main">
        <article>

<div class="content-header"><h2>Archive: The Stack</h2></div>
<div class="stackdef">
  <p><em>The Stack</em> was a (mostly) weekly digest of hopefully interesting links.</p>

  <p>It ran from November 2011 to November 2018, but at some point I lost interest in
  spending an hour every Sunday evening/Monday early morning to get it done. If that sort
  of content is your thing, even 10 years later I still recommend
  <a href="http://leahneukirchen.org/trivium/">trivium</a>.
  </p>
  <p>
  <a href="/blog/2011/pushing-to-the-stack/">Read over here how it began</a>
  </p>
</div>
{{ partial "archive.html" . }}

        </article>
      </div>
    </div>
  </section>
<!-- /MAIN -->
{{ partial "footer.html" . }}
